# ignore environment file
.env

# ignore certificate files
cert/*.key
acme/*

# ignore traefik credentials
traefik/credentials.txt

# ignore homeassistant files
home-assistant/*
!home-assistant/configuration.yaml
!home-assistant/dashboard.yaml

# ignore adguard files
adguard/work/*

# ignore node-red files
node-red/*
!node-red/Dockerfile

# ignore sqlite browser files
sqlitebrowser/*
