# ignore environment file
.env

# ignore certificate files
cert/*.key

# ignore traefik credentials
traefik/credentials.txt

# ignore homeassistant files
home-assistant/*
!home-assistant/configuration.yaml
