# OpenSSL configuration file for creating a CSR for a server certificate
# Adapt at least the FQDN and ORGNAME lines, and then run 
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr
# on the command line.

# the fully qualified server (or service) name
FQDN = home.lan

# the name of your organization
# (see also https://www.switch.ch/pki/participants/)
ORGNAME = BP Home

# subjectAltName entries: to add DNS aliases to the CSR, delete
# the '#' character in the ALTNAMES line, and change the subsequent
# 'DNS:' entries accordingly. Please note: all DNS names must
# resolve to the same IP address as the FQDN.

# --- no modifications required below ---
[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = CH
O = $ORGNAME
OU = Engineering
CN = $FQDN

[ req_ext ]
basicConstraints = CA:TRUE
subjectAltName   = @alt_names

[alt_names]
IP.1 = 192.168.0.100
DNS.1 = $FQDN
DNS.2 = traefik.home.lan
DNS.3 = adguard.home.lan
DNS.4 = plex.home.lan
DNS.5 = homeassistant.home.lan
DNS.6 = shelly1l-3c6105e33577.home.lan
DNS.7 = deluge.home.lan
